<div class="wrapper">
  <h3>Shopping Cart</h3>

  <div class="product" *ngFor="let product of cart">

    <!-- <div class="img_div">
      <img src="{{ product.imgurl }}" alt="">
    </div> -->

    <div class='product_name_desc'>
      <span class="product_title"> {{ product.name }}</span><br><hr>
    </div>

    <div class="price">
      <span class='font_price'>{{ product.price }}</span><br>
    </div>

    <div class="price">
      <span class='font_price'>{{ product.qty}}</span><br>
    </div>


  </div>
  <h5>Total: ${{total}}</h5>
  <hr>
  <!-- <h5>TOTAL_SHOW: {{show_total}}</h5> -->
  <button>Buy Now</button>
  <div class="helperPanda">
    <h4>Need Help?</h4>
  </div>

</div>
